user www-data;
worker_processes {{ nginx_worker_processes }};

events {
    worker_connections {{ nginx_worker_connections }};
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    sendfile on;
    keepalive_timeout 65;

    server {
        listen {{ nginx_listen_port }};
        server_name {{ nginx_server_name }};

        location / {
            root {{ nginx_root }};
            index index.html;
        }
    }
}